*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    background-color: #d63447;
    color: white;
}

.nav-bar .logo{
    font-size: 27px;
}

.nav-bar a{
    color: white;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    margin: auto 0;
}

.nav-bar ul li{
    margin: 0 20px;
}

.nav-bar .search-box{
    display: flex;
    margin: auto 0;
    flex : 0.8;
    border-radius: 60px;
    background-color: white;
}

.nav-bar .search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 25px;
}

::placeholder{
    padding: 10px;
}

.nav-bar .search-box image{
    padding: 6px;
}

.top-dropdown{
    display: none;
}

.top-dropdown{
    position: fixed;
    right: 10px;
    border-radius: 5px;
    background-color: white;
    z-index: 1000000;
    margin-top: 4px;
}

.top-dropdown ul{
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.top-dropdown li{
    padding: 5px 30px;
}

.top-dropdown ul .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.top-dropdown ul li .profile img{
    border-radius: 50%;
}

.top-dropdown ul .profile span{
    padding-left: 4px;
}

.nav-mobile{
    display: none;
    background-color: #d63447;
}

.nav-mobile .search-box{
    display: flex;
    margin: auto 0;
    flex: 1;
    border-radius: 60px;
    background-color: whitesmoke;
}

.nav-mobile .search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 25px;
}

::placeholder{
    padding: 10px;
}

.nav-mobile .search-box image{
    padding: 6px;
}

.center{
    display: inline-flex;
    align-content: center;
}

.top-dropdown ul li a{
    font-size: 14px;
    color: darkgray;
}